@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
:root{
    --font1: verdana,geneva,tahoma,sans-serif;
    --font2: 'Passion One','cursive';
    --font3: 'Sriracha', 'Cursive'
}

*{
    margin: 0px;
    padding: 0px;
    

    
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{

    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vw;
}
header p{
    padding-bottom: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4.5vw;
}
 a{
    color: white;
    text-decoration: none;
    font: bolder;
}
a:hover, footer a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer a{
    color: white;

}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.585);
}
section{

    padding: 50px;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font3);
    padding-left: 30px;
   
   

    
}
section.normal{ 
    background-color: white;
    color: black;
    font-size: 3.5vw;
   
}
section.imagem{
    background-color: rgba(0, 0, 0, 0.682);
    color: white;
    font-size: 1.5em;
    height: 400px;
    
}
#q1{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    
   

}
#q2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
   
            

  
}